.Phonetic {
  height: 60px;
  padding: 8px 15px;
}

.Phonetic li {
  display: inline;
  width: 30px;
}

.Phonetic li:hover {
  cursor: pointer;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
